*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    background: linear-gradient(45deg,#ffaf00,#bb02ff);
    background-attachment: fixed;
}  
.container{
    position: relative;
    width: 1150px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card{
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;   
}
.container:hover .card{
    filter: blur(20px);         
    transform: scale(0.9);
    opacity: 0.5;
}
.container .card:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
}
.container .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.container .card .circle h2{
    color: #fff;
    font-size: 4.5em;
    padding: 40px 0;
}

.container .card .content{
    position:absolute;
    bottom: 20px;
    page-break-after: 20px;
    width: 100%;
    text-align: center;
    
}
.container .card .content p{
    text-align: justify;
    padding: 11px;
    font-size: 17px;
}
.container .card .content a{
    font-size: 15px; 
    text-decoration: none;
    background: #000;
    padding: 15px 30px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a{
    background: #ffaf00;
    transition: 0.5s;
}
.container .card:nth-child(1) .content a:hover{
    background: #ecb640;
    transform: scale(1.1);
}



.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a{
    background: #da226b;
    transition: 0.5s;
}
.container .card:nth-child(2) .content a:hover{
    background: #e64f8b;
    transform: scale(1.1);
}



.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a{
    background: #bb02ff;
    transition: 0.5s;
}
.container .card:nth-child(3) .content a:hover{
    background: #ca4bf8;
    transform: scale(1.1);
}